div.sp-callout {
  height: 100px;
  width: 350px;
  position: absolute;
  background-color: #ddd;
  box-sizing: border-box;
  border: 1px solid black;
  padding: 15px;
  z-index: 9999;
  border-radius: 5px;
  /*opacity: 0.8;*/
  /*font-size: 1.1em;*/
}